#ignore everything
*
*.*
**
.*

#exceptions
!.gitignore
!.gitattributes
!.git/**
!.config/
!.config/alacritty/
!.config/alacritty/**
!.config/i3/
!.config/i3/**
!.zshrc
!.zshfunctions
!.ssh/
!.ssh/authorized_keys