#ignore everything
*
*.*
**
.*

#exceptions
!.gitignore
!.gitattributes
!.git/**
!.config/
!.config/alacritty**
!.config/kitty**
!.config/i3**
!.config/btop/btop.conf
!.config/neofetch**
!.zshrc
!.zshfunctions
!.ssh/
!.ssh/authorized_keys
